# Ignoring temporary file
*~

# Ignoring objects files
*.o

# Ignoring binary file
a.out

# Ignoring valgrind
vgcore*

# Ignoring .vscode folder
.vscode

# Ignoring valgrind logs
log

# Ignoring main
main.c

utils.c

libmy_malloc.so

testmain.c

*.test